.tobu {
    width: 1903px;
    height: 55px;
    background-color: #FFF;
}

.container {
    position: relative;
    width: 1903px;
    margin: 0 auto;
}

.banxin {
    width: 1201px;
    margin: 0 auto;
}

.banxing {
    width: 986px;
    margin: 0 auto;
}

.redian {
    width: 100%;
    height: 595px;
    background: url(../image/beijintu.jpg);
}

.shaishi {
    width: 100%;
    height: 521px;
    background: url(../image/shaishi.jpg);
}

.wanjiazx {
    width: 100%;
    height: 382px;
    background: url(../image/wanjia.jpg);
}

.zhoutu {
    width: 100%;
    height: 216px;
    background: url(../image/zhdbjt.jpg);
}

/* 清除浮动 */
.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}