/* 第一部分 */
.container-zbian {
    float: left;
    width: 180px;
    height: 55px;
    background-color: #cf1132;
}

.container-zbian span {
    font-size: 11px;
    color: #FFF;
    line-height: 55px;
    padding-left: 75px;
    box-sizing: border-box;
}

.container-tupian {
    float: left;
}

.container-tupian img {
    margin-top: 4px;
    height: 44px;
    margin-left: 742px;
    box-sizing: border-box;
}

.container-youbian {
    float: right;
    width: 138px;
    height: 55px;
    border-left: 1px solid #e4e4e4;
}

.container-youbian:hover {
    border-bottom: 1px solid red;
}

.container-youbian a {
    color: #333;
    line-height: 55px;
    padding-left: 20px;
    box-sizing: border-box;
}

.container-youbian a:hover {
    color: red;

}