.hh-0 {
    float: left;
    width: 100%;
    height: 70px;
    background-color: #FFF;
}

.hh-01 {
    float: left;
    background-image: url(../img/sprite-w_dd519f4.png);
    background-repeat: no-repeat;
    background-position: -95px -303px;
    width: 25px;
    height: 14px;
}

.hh-1 {
    float: left;
    width: 225px;
    height: 42px;
    background-color: #CF1132;
    font-size: 14px;
    color: #FFF;
    text-align: center;
    padding-top: 28px;
}

.hh-2 {
    float: left;
    padding-top: 20px;
    margin-left: 500px;
}

.hh-3 {
    height: 42px;
    float: right;
    border-left: 1px solid #DADADA;
    padding-top: 25px;
}