html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

.banxin {
    width: 375px;
    height: 100%;
    background-image: url(../upload/05.jpg);
}

.tobu {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 57px;
    background-image: url(../img/04.jpg);
    z-index: 2;
}

.tobu-life {
    margin-left: 5px;
    margin-top: 7px;
    width: 41px;
    height: 41px;
}

.tobu-life img {
    width: 41px;
    height: 41px;
}

.tobu-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 132px;
    height: 53px;
    text-align: center;
}

.tobu-right img {
    position: absolute;
    top: 12px;
    left: 0px;
    width: 100px;
    height: 32px;
}

.tobu b {
    margin-top: 10px;
    margin-left: 10px;
    color: #fff;
    font-size: 14px;
}

.tobu span {
    position: absolute;
    top: 28px;
    left: 55px;
    color: #bfc4cf;
    font-size: 10px;
}

/* 第二部分 */
.dibu {
    padding-top: 57px;
    width: 100%;
    box-sizing: border-box;
}

.dibu a {
    width: 100%;
    height: 100%;
}

.dibu img {
    width: 100%;
    height: 100%;
}

/* 第三部分 */
.dishan {
    width: 100%;
    height: 45px;
    text-align: center;
}

.dishan li {
    display: inline-block;
    font-size: 16px;
    color: #333;
    width: 30.48%;
    height: 100%;
    line-height: 45px;
}

.dishan li:hover {
    color: #ffa017;
    background-image: url(../img/04.png);
    background-size: 12px;
    background-position: 52px 0px;
    background-repeat: no-repeat;
}


.dishan span {
    color: #333;
    width: 0.3%;
    height: 100%;
}

/* 第四部分 */
.disi {
    width: 100%;
    height: 36.5px;
}

.to {
    margin-left: 10px;
    display: inline-block;
    width: 12%;
    height: 100%;
    background-color: #ffc348;
    text-align: center;
    float: left;
}

.to span {
    color: #fff;
    font-size: 14px;
    line-height: 37.5px;
}

.er {
    float: left;
    width: 83%;
    height: 100%;
    display: inline-block;
    background-color: #fffaed;
}

.er span {
    color: #747474;
    font-size: 14px;
    line-height: 37.5px;
}

/* 第五部分 */
.diwu {
    width: 100%;
    height: 72px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.diwu ul {
    width: 100%;
    height: 24px;
}

.diwu li {
    width: 100%;
    height: 24px;
}

.diwu a p {
    display: inline-block;
    line-height: 24px;
    font-size: 13px;
    color: #333;
}

.diwu span {
    float: right;
    line-height: 24px;
    color: #7d7d7d;
}

/* 第六部分 */
.kx {
    width: 100%;
    height: 37px;
    text-align: center;
}

.kx a {
    display: inline-block;
    width: 345px;
    height: 37px;
    font-size: 13px;
    color: #333;
    line-height: 37px;
    border: 2px solid #fff;
}

.kx a:hover {
    color: #333;
}

/* 第七部分 */
.sgt {
    display: flex;
    width: 100%;
    height: 170px;
    padding-top: 10px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.sgt li {
    width: 50%;
    height: 50%;
}

.sgt li a {
    display: inline-block;
    width: 187px;
    height: 83.33px;
}

.sgt li img {
    width: 187px;
    height: 83.33px;
    padding-bottom: 4px;
    box-sizing: border-box;
}

.ba {
    width: 100%;
    height: 48px;
}

.ba img {
    width: 78.5px;
    height: 28px;
    padding-top: 8px;
}

/* 第八部分 */
.zxbf {
    width: 100%;
    height: 2385px;
    /* background-color: #fff; */
}

.zxbf li {
    margin-left: 15px;
    width: 345px;
    height: 265px;
    box-sizing: border-box;
    border-top: 1px solid #d2d2d2;
}

.zxbf h5 {
    width: 100%;
    height: 41px;
    margin-top: 10px;
}

.zxbf i {
    display: inline-block;
    width: 63px;
    height: 20px;
    font-weight: 700;
    line-height: 20px;
    font-size: 13px;
    background-color: #ffc348;
    padding-left: 17px;
}

.zxbf span {
    font-weight: 700;
    font-size: 15px;
    color: #000;
    padding-left: 5px;
}

.zxbf img {
    position: relative;
    top: 43%;
    left: 44%;
    width: 40px;
    height: 40px;
}

.zxbf div {
    width: 100%;
    height: 190px;
    background-image: url(../img/11.png);
    background-repeat: no-repeat;
    background-size: 345px;
}

.zxbf li:nth-child(1) div {
    background-image: url(../img/11.png);
}

.zxbf li:nth-child(2) div {
    background-image: url(../img/23.png);
}

.zxbf li:nth-child(3) div {
    background-image: url(../img/24.png);
}

.zxbf li:nth-child(4) div {
    background-image: url(../img/25.png);
}

.zxbf li:nth-child(5) div {
    background-image: url(../img/26.png);
}

.zxbf li:nth-child(6) div {
    background-image: url(../img/06.jpg);
}

.zxbf li:nth-child(7) div {
    background-image: url(../img/27.png);
}

.zxbf li:nth-child(8) div {
    background-image: url(../img/28.png);
}

.zxbf li:nth-child(9) div {
    background-image: url(../img/29.png);
}

/* 第九部分 */
.kx {
    width: 100%;
    height: 37px;
    text-align: center;
}

.kx a {
    display: inline-block;
    width: 345px;
    height: 37px;
    font-size: 13px;
    color: #333;
    line-height: 37px;
    border: 2px solid #fff;
}

/* 第十部分 */
.dibu-shi {
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 85px;
    background-color: #1f1b17;
    text-align: center;
}

.dibu-shi li {
    width: 50%;
    height: 35px;
}

.dibu-shi li:nth-child(4) {
    position: relative;
    top: 0;
    left: -14px;
}

.dibu-shi span {
    position: relative;
    top: -11px;
    left: 5px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
}

/* 第十一部分 */
.zhbf {
    width: 100%;
    height: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #1f1b17;
    text-align: center;
}

.zhbf img {
    width: 16px;
    height: 17px;
}

.zhbf span {
    color: #fff;
}

.zhbf p {
    color: #fff;
}

/* 第十二部分*/
.zhhh {
    width: 100%;
    height: 376px;
    background-color: #1f1b17;
    padding: 0 20px;
    box-sizing: border-box;
}

.zhhh p {
    color: #696969;
    padding: 4px 0;
}

.zhhh p:nth-child(2) {
    color: #fff;
}

.zhhh p:nth-child(12) {
    color: #fff;
}

.zhhh a {
    float: right;
}

/* 低部固定 */
.zhyidd {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 71px;
    background-image: url(../img/22.png);
    background-repeat: no-repeat;
    background-size: 375px;
}

.zhyidd a {
    display: inline-block;
    width: 91px;
    height: 71px;
    text-align: center;
}

.zhyidd a img {
    width: 40px;
    height: 55px;
    padding-top: 16px;
    box-sizing: border-box;
}